body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#delaydisplaybar
{
	width: 50%;
	height: 500px;
	float: left;
}
#multiYBar
{
	width: 50%;
	height: 500px;
	float: left;
}